<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.physicswallpaper">


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name="com.example.physicswallpaper.ContextGetter"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/wallpaperphysics" />

        <service
            android:name=".PhysicsWallpaperService"
            android:exported="true"
            android:label="PhysicsWallpaper"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/wallpaperphysics" />
        </service>
        <activity
            android:name=".activities.SetWallpaperActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="bla.com"
                    android:scheme="http" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.SceneCreatorActivity"
            android:label="Scene Creator"
            android:parentActivityName=".activities.SetWallpaperActivity"
            />

    </application>

</manifest>
